p {
    font-family: 'Open Sans', sans-serif;
}

code {
    background-color: f0f0f0;
}

table, td, th {
    border: 1px solid #ddd;
}

table {
    border-collapse: collapse;
}

td {
    padding: 10px;
}